<div class="container">
  <div class="talent"></div>
  <div class="talent"></div>
  <div class="talent"></div>
  <div class="talent"></div>
  <div class="talent"></div>
  <div class="talent"></div>
  <div class="talent"></div>
  <div class="talent"></div>
  <div class="talent"></div>
  <div class="talent"></div>
  <div class="talent"></div>
  <div class="talent"></div>
  <div class="talent"></div>
  <div class="talent"></div>
  <div class="talent"></div>
  <div class="talent"></div>
</div>